.megabits-title {
	background-image: url(assets/images/megabits.png);
}

.learninghub-title-fr {
	width: 100%;
	background-image: url('assets/images/learninghub_bg_bar_fr.png');
}

#bh-sl-submit {
	background-image: url(assets/images/pin-fr.png);
}

.location-form-container::before {
	content: 'Trouver un point de dépôt';
}

#tribe-bar-form .tribe-bar-submit input[type="submit"] {
	white-space: normal;
	line-height: 1.2 !important;
}

.loc-directions a::before {
	content: 'Itinéraire';
}

.location-page .bh-sl-container button.bh-sl-geolocation::before {
	content: '- ou -' !important;
	left: -55px !important;
}

.tribe-events-duration .timezone,
.tribe-events-schedule .timezone {
	display: none;
}
