/*
Theme Name: 	Recycle My Electronics
Author: 		Resonator
Author URI: 	https://resonator.ca
Description:	Child theme for RME based on BeTheme
Template:		betheme
Version: 		1.1.0
*/

/* Theme customization starts here
-------------------------------------------------------------- */

/*
	Header
*/
#Header_wrapper {
	z-index: 99;

}
#Header_wrapper #Header {
	min-height: 130px;
	position: relative;
}

#Header_wrapper #Header::after {
	content: '';
	width: 100%;
	height: 40px;
	position: absolute;
	top: 130px;
	left: 0;
	background-color: rgba(0, 76, 66, 0.8);
}

body:not(.template-slider) #Header_wrapper {
	background-position: center 30% !important;
}

#Top_bar::before {
	content: '';
	position: absolute;
	background-color: #78AD20;
	width: 100%;
	height: 100%;
	max-height: 130px;
	top: 0;
	background-image: url('assets/images/header_bg.png');
	background-size: cover;
}

.header-stack #Top_bar .logo {
	border-bottom: none;
	padding: 0;
	position: relative;
}

.header-stack #Top_bar .logo #logo {
	height: 110px;
	text-align: left;
}

#Top_bar #logo img {
	height: auto;
}

#Top_bar .menu_wrapper {
	float: none;
	clear: both;
	width: 100%;
}

#Top_bar #menu {
	text-align: center;
}

#Top_bar .menu > li {
	float: none;
	display: inline-block;
}

#Top_bar .menu > li > a span:not(.description) {
	border: none;
	line-height: 40px;
	padding: 0 15px;
	font-size: 14px;
}

#Top_bar .menu > li:hover > a > span {
	text-shadow: 0 0 1px currentColor;
}

.header-stack #Top_bar .secondary_menu_wrapper {
	top: 15px;
}

#Top_bar .responsive-menu-toggle {
	color: #fff;
}


/*
	Page Footer
*/
.section.section-page-footer {
	display: none;
}


/*
	Secondary Menu
*/
#Header .secondary-menu > li {
	border-radius: 0;
	padding: 3px 8px;
}

#Header .secondary-menu > li.hover {
	background-color: transparent;
}

#Header .secondary-menu > li > a {
	color: #fff;
}

.header-stack #Top_bar .logo::after {
  content: '';
  display: block;
	position: absolute;
	right: 40px;
	bottom: 40px;
	font-family: 'Montserrat';
	font-size: 2.7em;
	opacity: 1;
	color: #fff;
	text-transform: uppercase;
}


/*
	Sub Menu
*/
#Top_bar .menu > li ul.sub-menu li {
	width: auto;
	white-space: nowrap;
}

#Top_bar .menu > li ul.sub-menu .sub-menu {
	left: 100%;
}

#Top_bar .menu > li ul.sub-menu li a {
	text-align: left;
	padding: 10px 20px;
}

#Top_bar .menu > li ul.sub-menu li.menu-item-has-children a {
	padding-right: 30px;
}

#Top_bar .menu > li ul.sub-menu li a span {
	font-family: 'Montserrat';
}


/*
	Subheader
*/
#Subheader {
	margin-top: 27vh;
}

.single #Subheader {
	margin-top: 40px;
}

.subheader-both-left #Subheader .breadcrumbs {
	margin-top: 0;
}

#Subheader ul.breadcrumbs li,
#Subheader ul.breadcrumbs li a,
#Subheader ul.breadcrumbs li span {
	color: #fff !important;
	text-transform: uppercase;
	opacity: 1;
}

#Subheader ul.breadcrumbs li {
	font-weight: bold;
}

#Subheader ul.breadcrumbs li a {
	font-weight: normal;
}

#Subheader ul.breadcrumbs li a:hover {
	text-decoration: none;
}

#Subheader ul.breadcrumbs li a span {
	margin: 0 5px;
}


/*
	Columns
*/
.column, .columns {
	margin-bottom: 20px !important;
}

#Subheader .column {
	margin-bottom: 0 !important;
}


/*
	Footer
*/
#Footer .footer_action {
	background-color: transparent;
}

#Footer .footer_action .one {
	text-align: left;
	font-family: 'Montserrat';
	font-size: 2em;
	margin-bottom: 0;
}

#Footer .widget_search > form {
	position: relative;
}

#Footer .widget_search input[type="text"] {
	width: 30%;
	padding: 8px 50px;
	font-size: 1.25em;
}

#Footer .widget_search .icon_search {
	display: block;
	position: absolute;
	top: 8px;
	left: 5px;
	color: #4d4d4d;
	font-size: 2em;
}

#Footer .widgets_wrapper {
	padding-bottom: 0;
}

#Footer .widgets_wrapper .menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

#Footer .widgets_wrapper .menu ul li a:before {
	content: '';
	margin-right: 0;
}

#Footer .widgets_wrapper .menu > li > a {
	margin-bottom: 0;
	font-weight: bold;
}

#Footer .widgets_wrapper .menu  a {
	background-color: transparent;
	color: #fff;
	border: none;
}

#Footer .widgets_wrapper .menu ul li a {
	padding: 3px 10px;
	margin-bottom: 0;
}

#Footer .widgets_wrapper .widget.widget_media_image {
	padding: 5px 0;
}

#Footer .footer_copy {
	border-top:  none;
}

#Footer .footer_copy .one {
	margin-bottom: 15px;
	padding-top: 15px;
	min-height: 0;
}


/*
	Body
*/
#Content {
	padding-top: 0;
}


/*
	Muffin Shortcodes
*/
.counter .desc_wrapper .number-wrapper .number {
	font-size: 0.7em;
}

.counter .desc_wrapper .number-wrapper .label {
	display: inline-block;
}


/*
	Home page
*/
.full-screen-green-bar::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 56px;
	background-color: #78AD20;
}

.home #Subheader {
	display: none;
}


.home .hide-desktop .column_button {
	margin-bottom: 0 !important;
}

.home .hide-desktop .column_button a.button {
	padding: 15px 0;
}

/*
	Slider
*/
.ls-overflow-visible p {
	margin: 0;
}


/*
	Tabs
*/
.home-tab .jq-tabs {
	border: none;
}

.home-tab .ui-widget {
	font-size: 100%;
}

.home-tab .ui-tabs, .home-tab .ui-tabs .ui-tabs-nav, .home-tab .ui-tabs .ui-tabs-nav li {
	padding: 0;
	margin: 0;
}

.home .ui-tabs {
	overflow: visible;
}

.home-tab .ui-tabs .ui-tabs-panel {
	padding: 10px 0;
	background: none;
	overflow: visible;
}

.home-tab .ui-tabs .ui-tabs-nav {
	border: none;
	background-image: none;
	background-color: #78AD20;
}

.home-tab .ui-tabs .ui-tabs-nav li {
	top: unset;
}

.home-tab .tabs_centered.ui-tabs .ui-tabs-nav li {
	border: none !important;
}

.home-tab .ui-tabs .ui-tabs-nav li a {
	float: none;
}

.home-tab .ui-tabs .ui-tabs-nav li a,
.home-tab .ui-tabs .ui-tabs-nav li.ui-state-active a {
	color: #fff;
	background-color: #78AD20;
	font-family: 'Montserrat';
	font-weight: normal;
	font-size: 1.5em;
}

.home-tab .ui-tabs .ui-tabs-nav li.ui-state-active a:after {
	background: none;
}


/*
	Location Tab
*/
.location-title {
	width: 70%;
	padding: 40px 0;
	margin-bottom: 0;
	background-image: url('assets/images/arrow_right_notext.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto 100%;
	color: #78AD20;
	position: absolute;
}

.megabits-title {
	width: 100%;
	background-image: url('assets/images/megabits.png');
}

.learninghub-title-fr {
	width: 100%;
	background-image: url('assets/images/learninghub_bg_bar_fr.png') !important;
}

.location-form-container {
	background-color: #78AD20;
	background-image: url('assets/images/location_bg_white.png');
	background-repeat: no-repeat;
	background-position: 99% -25px;
}

.home-tab .location-form-container {
	overflow: hidden;
  float: right;
  width: 29%;
	background-image: none;
	height: 130px;
	overflow: hidden;
}

.location-page .location-form-container {
	background-size: 135px 171px;
}

.location-form-container::before {
	content: 'Find Drop-off Locations';
	color: #fff;
	display: block;
	padding: 5px 10px 0;
	text-align: center;
	font-size: 1.2em;
	float: none;
	font-weight: bold;
	font-family: 'Montserrat';
}

.location-page .location-form-container::before {
	font-size: 1.5em;
	padding: 34px;
	text-align: left;
	float: left;
}

.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group {
	width: auto;
	text-align: left;
	float: right;
}

.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group:first-child {
	width: 65%;
	text-align: left;
	padding: 0;
}

.widget-area .location-form-container {
	margin-bottom: 20px;
}

.widget-area .location-form-container::before {
	padding: 10px;
	font-size: 1em;
}

.bh-sl-form-input {
	overflow: hidden;
}

.bh-sl-container .bh-sl-form-input {
	padding-bottom: 15px;
}

.location-page .bh-sl-container .bh-sl-form-input {
	padding-bottom: 5px;
}

.bh-sl-filters-container {
	margin: 10px 0;
}

.bh-sl-container .bh-sl-form-input label,
.bh-sl-form-input-group label {
	color: #fff;
	font-family: 'Montserrat';
}

.location-page .bh-sl-container .bh-sl-form-input label {
	display: inline-block;
	float: none;
	width: auto;
	margin-right: 10px;
	min-width: 20px;
}

.location-page .bh-sl-container button.bh-sl-geolocation::before {
	content: '- or -';
	color: #fff;
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	bottom: 8px;
	left: -50px;
}

.home-tab .bh-sl-container button.bh-sl-geolocation {
	width: 31%;
	position: absolute;
	left: 10px;
	right: unset;
	bottom: 0;
	margin-top: 0;
	height: 30px;
}

.home-tab #bh-sl-submit {
	position: absolute;
	top: auto;
	right: 10px;
	left: unset;
	bottom: 0;
	width: 61%;
	height: 30px;
	margin: 0;
}

.home-tab #bh-sl-user-location button {
	font-size: .8em;
}

.bh-sl-container button.bh-sl-geolocation {
	color: #fff;
	font-family: 'Montserrat';
	font-weight: bold;
	width: 50%;
	margin: 7px 0 0;
	position: relative;
	bottom: 17px;
	overflow: visible;
	background-color: #EF7521;
}

body:not(.home) .bh-sl-container button.bh-sl-geolocation {
	bottom: 3px;
}

.bh-sl-container button.bh-sl-geolocation:focus {
	outline: none;
}

.home-tab .ui-tabs-active {
	position: relative;
}

.home-tab .ui-tabs .ui-tabs-nav li.ui-state-active:after {
	display: block;
	position: absolute;
	bottom: -2px;
	left: 50%;
	background-color: transparent;
	margin-left: -30px;

	/* triangle */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 15px 30px;
	border-color: transparent transparent #ffffff transparent;
}

.home-tab .blog_list .img_container {
	width: calc( 100% - 16px);
	height: 250px;
}

#Content .home-tab .blog_list .news_box .img_container img {
	height: 100%;
	width: auto;
}

#Content .home-tab .blog_list p {
	display: none;
}

#Content .home-tab .blog_list .news_box h3 {
	overflow: hidden;
	height: 90px;
}

.bh-sl-form-input input {
	width: 80%;
}

.bh-sl-container .bh-sl-form-input select.bh-sl-maxdistance {
	padding: 10px 2px;
}

.bh-sl-container .bh-sl-form-input input,
.bh-sl-container .bh-sl-form-input select {
	margin: 0;
	background-color: #fff;
	float: none;
	width: auto;
	display: inline-block;
}

.home-tab .bh-sl-container .bh-sl-form-input input,
.home-tab .bh-sl-container .bh-sl-form-input select {
	float: left;
	width: 100%;
	display: block;
}

.location-page .bh-sl-container .bh-sl-form-input input {
	width: calc(100% - 171px);
}

.location-page .bh-sl-container button.bh-sl-geolocation {
	height: 35px;
	padding: 0 20px;
	width: 60%;
	display: block;
}

form#bh-sl-user-location {
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}

.widget-area form#bh-sl-user-location {
	padding: 0px 15px;
}

.widget-area form#bh-sl-user-location p {
	margin: 0;
}

.location-page form#bh-sl-user-location {
	padding-top: 30px;
}

.bh-sl-form-input-group {
	width: 20%;
	float: left;
}

.bh-sl-form-input-group:first-child {
	width: 68%;
	float: right;
	padding-right: 8%;
}

.widget-area .bh-sl-form-input-group {
	width: 30%;
}

.widget-area .bh-sl-form-input-group:first-child {
	width: 65%;
	padding-right: 0;
}

.home-tab #bh-sl-address {
	width: 100%;
}

.home-tab .bh-sl-form-input-group:first-child {
	padding-right: 0;
	margin-right: 0;
}

#bh-sl-submit {
	position: absolute;
	top: 23px;
	right: 10px;
	height: 35px;
	box-shadow: none;
	color: #fff;
	background-color: #EF7521;
	background-image: none !important;
	font-weight: bold;
	font-family: 'Montserrat';
}

.widget-area .bh-sl-form-input input {
	width: 100%;
}

.widget-area #bh-sl-submit {
	position: relative;
	color: #fff;
	text-transform: capitalize;
	font-size: 0.9em;
	height: auto;
 	background-color: #EF7521;
	top: 0;
	left: 0;
	width: 100%;
}

.location-page #bh-sl-submit {
	right: auto;
	top: auto;
	position: relative;
}

#bh-sl-submit:hover::after {
	width: 0;
}

.map-loading::before {
	content: 'loading';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
  padding-top: 30%;
  text-align: center;
  font-size: 2.5em;
}

.map-fr .map-loading::before {
	content: 'Chargement en cours, veuillez patienter';
}

.bh-sl-container .bh-sl-map-container {
	margin-top: 15px;
	margin-bottom: 0;
}

.bh-sl-container .bh-sl-loc-list .list-label {
	background-color: #78AD20;
	font-family: 'Montserrat';
	width: 26px;
	height: 26px;
	padding: 0;
	line-height: 1.9em;
}

.bh-sl-container .bh-sl-loc-list .list-details .list-content {
	padding-top: 10px;
}

.loc-directions a::before {
	content: "Directions";
}

.bh-sl-container .list-content {
	font-family: 'Open Sans';
}

.bh-sl-container .loc-name {
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.bh-sl-container .loc-excerpt {
	margin-top: 15px;
	font-weight: bold;
}

.bh-sl-container .loc-web {
	margin-top: 15px;
}

.bh-sl-container .loc-web a {
	color: #00AF9A;
	word-wrap: break-word;
}

.bh-sl-container .bh-sl-pagination-container ol li {
	margin-bottom: 0;
}

/* NEW LOCATOR */

.wpsl-search {
  display: flex;
  background: #78AD20;
  color: white;
  padding: 25px !important;
  flex-flow: row wrap;
  background-image: url('assets/images/location_bg_white.png');
  background-repeat: no-repeat;
  background-position: 99%;
  margin-bottom: 0;
}

#wpsl-search-wrap {
	flex: 2;
}

#wpsl-search-wrap form > div {
	display: block;
	width: 100%;
}

#wpsl-title-wrap {
  flex: 1;
  text-align: center;
}

.location-search-title {
  font-size: 1.5em;
  float: left;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  line-height: 1.2;
}

#wpsl-search-wrap #wpsl-radius {
    display: flex;
}

#wpsl-search-wrap #wpsl-radius .wpsl-dropdown {
	width: 100px;
}

#wpsl-search-wrap .wpsl-input {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#wpsl-category, .wpsl-input, .wpsl-select-wrap {
	margin-bottom: 0;
}

.wpsl-input label {
	width: unset !important;;
}

#wpsl-search-wrap .wpsl-input label {
	margin-right: 10px !important;
}

#wpsl-search-input {
  flex: 1;
}

#wpsl-checkbox-filter, .wpsl-custom-checkboxes {
	margin: 5px 0;
}

#wpsl-cat-filter ul#wpsl-checkbox-filter {
	display: flex;
	white-space: nowrap;
	flex-flow: row wrap;
	justify-content: space-around;
}

#wpsl-cat-filter ul#wpsl-checkbox-filter li {
	width: unset;
}

#wpsl-cat-filter ul#wpsl-checkbox-filter li label {
	color: white;
}

#wpsl-search-btn,
#wpsl-wrap .wpsl-my-location {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border: none !important;
  box-shadow: none;
  color: #fff;
  background-color: #EF7521;
  background-image: unset;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 0;
}

#wpsl-wrap .wpsl-my-location {
  font-size: 1em;
	width: unset !important;
	padding: 10px 20px;
	border-radius: 4px;
	margin-left: 5px;
}

#wpsl-search-btn:hover,
#wpsl-wrap .wpsl-my-location:hover {
	background-color: #d76e26;
	color: #ffffff;
}


#wpsl-gmap {
	float: left;
	width: 67%;
}

#wpsl-stores.wpsl-not-loaded {
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
}

#wpsl-wrap #wpsl-result-list li.wpsl-preloader {
	color: #2b2b2b;
	font-weight: 600;
	padding: 10px 10px 10px 30px !important;
	background: transparent !important;
}

#wpsl-result-list {
	float: right;
	margin-right: unset;
}

#wpsl-wrap #wpsl-result-list #wpsl-stores ul li {
	border-bottom: none;
	margin-bottom: 0;
	padding: 15px 20px;
	display: flex;
}

#wpsl-wrap #wpsl-result-list #wpsl-stores ul li:nth-child(even):not(.locator-call-to-action) {
	background: rgb(239, 239, 239) none repeat scroll 0% 0%;
}

.wpsl-result-number {
	background-color: #78AD20;
  font-family: 'Montserrat';
  width: 26px;
  height: 26px;
	border-radius: 15px;
  padding: 0;
  line-height: 1.9em;
	color: #fff;
  font-weight: bold;
  text-align: center;
  min-width: 13px;
	margin-right: 15px;
}

.wpsl-store-location {
	flex: 1;
}

.wpsl-name, wpsl-cat {
	display: block;
}

.wpsl-name {
	font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.wpsl-cat {
	font-weight: 600;
}

.ui-widget-content #wpsl-wrap a {
    color: #78ad20;
}

.wpsl-direction-wrap {
	font-style: italic;
}

#wpsl-search-wrap .wpsl-icon-direction:hover {
	cursor: pointer;
}

.widget.wpsl-search-widget {
	background-color: #78AD20;
	background-image: url('assets/images/location_bg_white.png');
	background-repeat: no-repeat;
	background-position: 99% -25px;
	padding: 10px 15px !important;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.widget.wpsl-search-widget h3 {
	font-size: 1.1em;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}

#wpsl-widget-form p {
	margin-bottom: 5px;
}

#wpsl-widget-form input, #wpsl-widget-form select, #wpsl-widget-form label {
	width: 100%;
	margin: 0;
}

#wpsl-widget-form input[type="submit"] {
	background: #ef7521;
	font-weight: 600;
	font-size: 0.9em;
	margin-top: 10px;
}

/* Map Legend */
.map-legend {
	clear: both;
	padding-top: 25px;
}

.home-tab .map-legend {
  padding-top: 690px;
}

.map-legend ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.map-legend ul > li {
	min-width: 200px;
	max-width: 25%;
	flex-basis: auto;
	flex-grow: 1;
	margin: 0 5px 15px;
}

.map-legend .pin {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	position: relative;
}

.map-legend .pin > * {
	flex: 1;
}

.map-legend .pin h4.pin-name {
	font-size: 1.2em;
}

.map-legend .pin-image {
	margin-right: 15px;
	max-width: 2em;
}

.map-legend .pin-name {
	align-self: center;
	white-space: normal;
	max-width: 200px;
    margin-right: 20px;
}

.map-legend .pin-tooltip {
	position: relative;
	flex: 0;
	right: 20px;
	top: 6px;
	cursor: pointer;
}

.map-legend .pin-description {
    visibility: hidden;
    width: 200px;
    background-color: #fff;
		border: solid 1px black;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    top: 30px;
    right: -10px;
    margin-left: -60px;
}

.map-legend .pin-description::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 15px;
    margin-left: -5px;
		border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid black;
}

.map-legend .pin-tooltip:hover .pin-description {
    visibility: visible;
}

.mcb-wrap {
	z-index: auto;
}

/* location page */
.page_title {
	margin-bottom: 0;
}

.page_title h2,
.page_title .inside {
	text-align: left;
}

.page_title .fancy_heading h2.title {
	font-weight: bold;
	margin: 30px 0 0;
	color: #78ad20;
	font-size: 2em;
}

.page_title .inside {
	color: #4D4D4D;
	font-size: 1.5em;
}

.embed h2.tribe-events-page-title {
	background: none;
	border-bottom: solid 3px #78ad20;
	padding: 0 0 10px;
}

.embed .tribe-events-list .type-tribe_events:first-of-type {
	margin-top: 0;
}

.embed .tribe-events-list .type-tribe_events {
	padding-bottom: 50px;
}

.embed .tribe-events-list .tribe-events-event-image {
	display: none ;
}

.embed .event_detail_left {
	margin-right: 5%;
}

.embed .event_detail_right {
	width: 70%;
	float: left;
	padding-bottom: 0;
}

.embed .event_detail_left {
	width: 25%;
	float: left;
	position: relative;
}

.embed .tribe-event-date-card {
	width: calc( 100% - 20px );
	float: none;
	position: relative;
}

.embed .event_detail_right .tribe-events-read-more {
	position: absolute;
}

.embed .tribe-event-schedule-details,
.embed .tribe-events-venue-details,
.embed .tribe-events-list .tribe-events-loop .tribe-events-content {
	width: 100% !important;
}

.embed .icon_title {
	display: none;
}

.embed .event_details_content {
	padding-left: 0;
}

.event_details_content p:last-child {
    padding-bottom: 15px;
}

.embed .tribe-events-read-more {
	position: relative;
	width: calc( 100% - 40px );
	left: 0;
}


.embed .month,
.embed .week_date {
	display: none;
}

.embed .month_mobile,
.embed .week_date_mobile {
	display: block;
}

.embed .news_box {
	width: 48%;
	margin-right: 2;
	float: left;
}

.embed .news_box:nth-child(2n) {
	margin-left: 2%;
}

.embed .news_box:nth-child(3n) {
	margin-right: 0;
}

.embed .news_box h3 {
	min-height: 90px;
}

#Content .embed .news_box img {
	height: 100%;
}

.legend-box {
	clear: both;
	width: 70%;
	display: table;
}

.legend-info {
	float: left;
	padding: 10px 0;
}

.legend-pins .legend-info {
	width: 33%;
}

.legend-pins-1 .legend-info {
	width: 100%;
}

.legend-pins-2 .legend-info {
	width: 50%;
}

.legend-pins-3 .legend-info {
	width: 33%;
}

.legend-pins-4 .legend-info {
	width: 25%;
}

.legend-info h4 {
	font-size: 1em;
	position: relative;
	padding-top: 25px;
	padding-left: 55px;
}

.legend-info img {
	width: 50px;
	vertical-align: middle;
	position: absolute;
	top: 10px;
	left: 0;
}

.legend-info p {
	padding: 0 20px;
}


/*
	Events tab
*/
.month_mobile,
.week_date_mobile {
	display: none;
}

#tribe-bar-views,
.tribe-bar-collapse #tribe-bar-collapse-toggle {
	display: none !important;
}

#tribe-bar-form.tribe-bar-collapse #tribe-bar-views+.tribe-bar-filters {
	display: block !important;
}

#tribe-events-bar {
	position: absolute !important;
}

#tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
	right: 0 !important;
	width: 100% !important;
}

.tribe-events-shortcode .tribe-bar-submit,
.tribe-events-shortcode .tribe-bar-geoloc-filter,
.tribe-events-shortcode .tribe-bar-date-filter {
	width: 33% !important;
}

.embed #tribe-events-bar {
	display: none;
}

.home-tab #tribe-events-bar {
	margin-top: 0;
}

.tribe-events-page-template #Subheader ul.breadcrumbs {
	width: 100% !important;
}

h2.tribe-events-page-title {
	font-family: 'Montserrat';
	text-align: left !important;
	color: #78ad20;
	padding: 20px 0 10px;
	border-bottom: solid 2px #78ad20;
	font-weight: bold;
	background: none;
}

.home-tab h2.tribe-events-page-title {
	padding: 38px 0;
	border: none;
	/* grdient */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 40%, rgba(120,173,32,1) 83%, rgba(120,173,32,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 40%,rgba(120,173,32,1) 83%,rgba(120,173,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 40%,rgba(120,173,32,1) 83%,rgba(120,173,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#78ad20',GradientType=1 ); /* IE6-9 */
}

.home-tab #tribe-events-bar #tribe-bar-form {
	display: block;
}

#tribe-events-bar #tribe-bar-form {
	background-color: #78AD20;
	border: solid 1px white;
	width: 45%;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	z-index:  99;
	display: none;
}

#tribe-bar-form label {
	color: #fff;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background-color: #EF7521 !important;
	border: solid 1px white !important;
}

.tribe-bar-collapse .tribe-bar-filters-inner>div {
	max-width: 33%;
}

#tribe-events-footer, #tribe-events-header {
	margin-bottom: 1.5em !important;
}

#tribe-events-content.tribe-events-list {
	margin-bottom: 0 !important;
}

.tribe-events-list-separator-month {
	display: none !important;
}

#tribe-events .tribe-events-list .type-tribe_events {
	position: relative;
	padding-bottom: 0;
	border: none;
}

.embed #tribe-events .tribe-events-list .type-tribe_events {
	padding-bottom: 35px;
}

.tribe-events-list .type-tribe_events h2 {
	padding-left: 7px;
}

.embed .tribe-events-list .type-tribe_events h2 {
	padding-left: 0;
}

.tribe-events-list .tribe-events-loop .tribe-events-event-image {
	border-color: rgba(120, 173, 32, 0.1);
}

.event_detail_left {
	float: left;
	width: 25%;
	margin-right: 2%;
}

.event_detail_right {
	float: left;
	width: 50%;
	padding-bottom: 30px;
}

.home-tab .event_detail_left {
	width: 140px;
}

.home-tab .event_detail_right {
	width: calc( 98% - 140px );
}

.tribe-event-date-card {
	background-color: #4D4D4D;
	width: 120px;
	float: right;
	text-align: center;
	font-family: 'Montserrat';
	text-transform: uppercase;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}

.home-tab .tribe-event-date-card {
	position: relative;
	top: auto;
	right: auto;
	margin-bottom: 10px;
}

.tribe-event-date-card .day {
	display: block;
	background-color: white;
	color: #000;
	font-size: 3em;
	padding: 15px 0;
	margin: 5px 0;
	font-weight: lighter;
}

.home-tab .tribe-events-list .tribe-events-loop .event_detail_left .tribe-events-event-image {
	margin-top: 0;
	margin-bottom: 0;
}

.tribe-events-list .tribe-events-loop .event_detail_left .tribe-events-event-image {
	margin-top: 15px;
	width: 100%;
	float: none;
	margin-bottom: 0;
}

.tribe-events-list-separator-month+.type-tribe_events.tribe-events-first {
	padding-top: 0 !important;
}

.tribe-event-schedule-details,
.tribe-events-venue-details {
	width: 100%;
	float: none;
	margin-top: 0;
	padding: 0 !important;
}

.tribe-event-schedule-details,
.tribe-events-venue-details {
	width: 50%;
	float: left;
}

.icon_title {
	color: #78AD20;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat';
	font-size: 15px;
	font-style: normal;
}

.icon_title i {
	color: #4D4D4D;
	font-size: 2em;
	vertical-align: middle;
}

.event_details_content {
	padding-left: 45px;
	font-size: 15px;
	font-style: normal;
	color: #4D4D4D;
	font-weight: normal;
	min-height: 25px;
}

.event_detail_left {
	width: 140px;
}

.event_detail_right {
	width: calc( 98% - 140px );
}

#tribe-events-content .tribe-events-abbr {
	text-decoration: none;
}

.home-tab .tribe-events-read-more {
	left: calc( 140px + 2% );
	width: calc( 98% - 180px );
}

.tribe-events-read-more,
.tribe-events-widget-link {
	display: block;
	background-color: rgba(0, 174, 154, 0.1);
	position: absolute;
	bottom: 0;
	left: calc( 140px + 2% );
	width: calc( 98% - 180px );
	text-align: right;
	color: #EF7521;
	padding: 5px 10px;
}

.tribe-events-widget-link {
	position: relative;
}

.tribe-events-widget-link br {
	display: none;
}

.tribe-events-read-more i {
	color: #4D4D4D;
}

.tribe-events-ical {
	background-color: #78AD20 !important;
}

#tribe-bar-form input[type=text] {
	color: white;
}

#tribe-bar-form input[type=text]:focus {
	color: #4d4d4d;
}

#tribe-bar-form input[type=text]::-webkit-input-placeholder {
	color:#fff;
}

#tribe-bar-form input[type=text]::-moz-placeholder {
	color:#fff;
}

#tribe-bar-form input[type=text]::-ms-placeholder {
	color:#fff;
}

#tribe-bar-form input[type=text]::placeholder {
	color:#fff;
}

.tribe-events-list .tribe-events-loop .tribe-events-content {
	width: 50% !important;
}

.tribe-events-event-meta .tribe-events-meta-group:not(:first-child) h3 {
	float: left;
}

.tribe-events-event-meta .tribe-events-meta-group:not(:first-child) dl {
	padding-top: 20px;
}

.tribe-events-meta-group-venue {
	min-height: 155px;
}

.tribe-organizer {
	min-height: 21px;
}


/*
	Posts
*/

.posts_group {
	padding-top: 10px;
}

.post-item {
	margin-bottom: 10px;
}

.post-desc-wrapper {
	width: 100%;
}


/*
	News
*/

.news_grid {
	padding: 30px 0;
}

.news_box {
	margin-bottom: 20px;
}

.news_box p {
	display: none;
}

.news_grid .news_box,
.home-tab .news_box {
	width: 32%;
	margin-right: 2%;
	float: left;
}

.news_grid .news_box:nth-child(3n),
.home-tab .news_box:nth-child(3n) {
	margin-right: 0;
}

.news_grid .news_box .img_container {
	height: 200px;
}

.news_box .img_container {
	height: auto;
	overflow: hidden;
	border:solid 8px rgba(120, 173, 32, 0.1);
}

.news_box .img_container:empty {
	display: none !important;
	border: none;
}

#Content .news_box img {
	display: block;
	width: 100%;
}

.news_box .news_info {
	padding: 10px 15px;
}

.news_grid .news_box .news_info span {
	display: inline-block;
	width: 50%;
}

.news_grid .news_box h3 {
	height: 90px;
}

.news_box h3 {
	height: auto;
	padding: 0 15px;
}

.news_box footer {
	background-color: rgba(239, 117, 33, 0.1);
	text-align: right;
	padding: 5px 15px;
	clear: both;
}

.news_box footer a {
	color: #EF7521;
}

.news_box footer a i {
	color: #4d4d4d;
}

.post-header .title_wrapper h1 {
	padding-top: 30px;
}

/*
	Quebec News
*/
.news_grid2 {
	margin: 25px 0;
	align-content: stretch;
}
.news_item {
	position: relative;
	margin-bottom: 25px;
}

.news_item a {
	display: block;
}

.news_item a h4 {
	padding-left: 5px;
	color: #1c1c1c;
}

.news_item footer {
	background-color: rgba(239, 117, 33, 0.1);
	width: 100%;
  padding: 5px 0;
	position: relative;
}

.news_item footer,
.news_item footer a {
	color: #EF7521;
}

.news_item footer .category {
	margin-left: 15px;
}

.news_item footer .date {
	margin-left: 25px;
}

.news_item footer a.readmore {
	position: absolute;
	right: 15px;
	bottom: 5px;
}

/* .single-news h3, .single-news h4, .single-news h5, .single-news h6 {
	font-family: 'Arvo', serif;
} */

.single-news h3 {
	color: #78ad20;
}


/*
	Landing box
*/
.landing_box {
		position: relative;
		overflow: hidden;
}

.landing_box .img_container {
	width: 37%;
	float: left;
}

.landing_box img {
	display: block;
	width: calc( 100% - 16px );
	height: auto;
	border:solid 8px rgba(120, 173, 32, 0.1);
}

.landing_box .img_container {

}

.landing_box .info_container {
	width: calc( 100% - 20px );
	float: left;
	padding-left: 20px;
}

.landing_box .info_container.has_image {
	width: calc( 60% - 20px );
}

.landing_box .info_container h3 {
	color: #78AD20;
	font-weight: bold;
}

.landing_box .info_container a:hover {
	text-decoration: none;
}

.landing_box .info_container footer {
	background-color: rgba(239, 117, 33, 0.1);
	text-align: right;
	padding: 5px 15px;
	clear: both;
}

.landing_box .info_container footer a {
	color: #EF7521;
}


/*
  Megabits box
*/
.megabits_grid {
	padding-top: 150px;
}

.news_grid .news_box.megabits_box .img_container {
	height: 180px;
}

.megabits_box h3 {
	margin: 10px 0;
	overflow:hidden;
	text-overflow: ellipsis;
}


/*
	Sidebar
*/
.widget-area::before {
	background-color: transparent;
}

.aside_right .widget-area {
	border: none;
}

.widget-area .widget {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.widget-area .widget::after {
	display: none;
}

.widget-area .news_box {
	width: 100%;
	margin-right: 0;
}

.widget-area .news_box h3 {
	height: auto;
}

.widget-area .news_box .img_container {
	height: auto;
}

.widget-area .news_box .news_info span {
	width: 100%;
}

.widget-area .tribe-events-event-image {
	display: none;
}

.type-tribe_events .tribe-mini-calendar-event .list-info h2 {
	padding: 0;
	border: 0;
	font-family: 'Open Sans';
	font-size: 1.5em;
	font-weight: normal;
}

.widget-area .type-tribe_events .tribe-mini-calendar-event {
	border-bottom: solid 1px #78AD20;
}

.type-tribe_events .tribe-mini-calendar-event {
	border-bottom: none;
	margin-bottom: 0;
}


.tribe-mini-calendar-event .list-date .list-dayname {
	padding: 0;
}

.tribe-mini-calendar-event .list-date span {
	display: block;
	color: #fff;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 0.9em;
}

.tribe-mini-calendar-event .list-date span.day {
	background-color: #fff;
	color: #000;
}

.tribe-mini-calendar-event .tribe-events-read-more {
	position: relative;
	left: 0;
	width: calc( 100% - 40px );
	clear: both;
}

.widget-area .tribe-mini-calendar-event .tribe-events-read-more {
	display: none;
}

.category_list span {
	display: inline-block;
	background-color: #ffe5f1;
	padding: 10px 20px;
	margin-right: 10px;
	border-radius: 20px;
	font-size: 1.2em;
}

#tribe-events .tribe-events-ical.tribe-events-button {
	display: none !important;
}

#tribe-events .tribe-events-content p {
	line-height: 1.5;
}

.widget-area .tribe-events-widget-link {
	left: 0;
	width: calc( 100% - 20px );
}

.tribe-events-loop .tribe-events-event-meta {
	border: none !important;
	background-color: transparent !important;
	padding: 0 !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured {
	padding: 0 !important;
	margin: 20px 0;
	background-color: transparent !important;
}

.tribe-events-list .tribe-events-venue-details {
	border-top: none !important;
	margin-top: 6px;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title {
	margin-top: 0;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a i{
	color: #78AD20 !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured a,
.tribe-events-list .tribe-events-loop .tribe-event-featured a:active,
.tribe-events-list .tribe-events-loop .tribe-event-featured a:hover {
	color: #78ad20 !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a,
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a:active,
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a:hover {
	color: #161922 !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured a.tribe-events-read-more {
	background-color: #78AD20;
	color: #fff !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-event-date-card {
	background-color: #78AD20;
}

.tribe-events-sub-nav li a {
	background-color: transparent !important;
	color: #78ad20 !important;
}

.tribe-address span:not(.tribe-delimiter):not(:first-child),
.tribe-address abbr {
	padding-left: 2px;
}


/*
	News Sidebar
*/
.news_sidebar .news_item h4 {
	color: #333;
	font-size: 16px;
}

.news_sidebar .category {
	padding: 5px 10px 5px 0;
	color: #333;
	font-size: 12px;
}

.news_sidebar .category i {
	color: #78ad20;
}

.news_sidebar .news_item footer {
	font-size: 12px;
}

.news_sidebar .news_item footer .date {
	margin-left: 10px;
}

.news_sidebar .news_item footer a.readmore {
	right: 10px;
}

.news_sidebar .readmore {
	display: block;
	text-align: right;
}


/*
	Calculator
*/
.calculator-wrap {
	background-image: url('assets/images/bg-alculator.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 700px;
	padding: 25px 1.5%;
	margin: 20px auto;
	border-radius: 8px;
}

.calculator-wrap h3 {
	color: #fff;
	padding: 20px 0;
}

.calculator-input{
	overflow: hidden;
}

.calculator-input > div {
	width: calc( 19.2% - 20px );
	padding: 20px 10px;
	margin-right: 1%;
	float: left;
	text-align: center;
	background-color: rgba(119, 188, 31, 1);
	border-radius: 15px;
}

.calculator-input div:last-child {
	margin-right: 0;
}

.calculator-input div .image_wrapper {
	border-radius: 50%;
	background-color: rgba(119, 188, 31, .75);
}

.calculator-input div label {
	color: #fff;
	position: relative;
	display: block;
	height: 90px;
	margin-top: 10px;
}

.calculator-input div label::after {
	content: "=";
	position: absolute;
	bottom: 10px;
	display: block;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

.calculator-wrap input[type="text"] {
	background-color: rgba(255, 255, 255, 0.75);
	text-align: center;
}

.calculator-wrap button {
	margin: 30px 0 50px;
	width: 100%;
	background-color: #3FAE29;
	font-size: 2em;
	text-transform: uppercase;
	display: block;
	position: relative;
	border-radius: 15px;
	background-image: none;
}

.calculator-wrap button::before,
.calculator-wrap button::after {
	content: '';
	background-color: #fff;
	height: 1px;
	width: 33%;
	position: absolute;
	top: calc( 50% - 1px );
	left: 2%;
}

.calculator-wrap button::before {
	left: auto;
	right: 2%;
}

.calculator-wrap .tonnage {
	background-color: #22D3C5;
	margin-bottom: 10px;
	padding: 30px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
}

.calculator-wrap .impact {
	background-color: #009382;
	padding: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	position: relative;
	height: 180px;
}

.calculator-wrap h4 {
	color: #fff;
	text-transform: uppercase;
}

.result-wrap {
	position: absolute;
	right: 30px;
	top: 30px;
}

.calculator-wrap .result {
	background-color: rgba(255, 255, 255, 0.75);
	text-align: right;
	width: 200px;
	height: 20px;
	text-align: right;
	display: block;
	position: relative;
	margin-bottom: 15px;
	padding: 5px;
}


.calculator-wrap .result label {
	position: absolute;
	right: 105%;
	color: #fff;
}


/*
	News and Events
*/
.tribe-events-event-image img {
	width: 100%;
}

.news-list.detail .img_container,
.blog_list .img_container{
	float: left;
	width: 45%;
	margin-right: 3%;
	margin-bottom: 15px;
}

.widget-area .blog_list .img_container {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 15px;
}

.widget-area .blog_list .news_box p {
	display: none;
}

.news-list.detail .news_box p,
.blog_list .news_box p {
	display: block;
	padding: 0 15px;
}


.embed .blog_list .news_box .img_container {
	width: calc( 100% - 16px);
	height: 250px;
	float: none;
}

.embed .blog_list .news_box p {
	display: none;
}


/*
	Video box
*/
.video-template-default .category,
.video-template-default .addtoany_share_save_container {
	display: none;
}

.video-template-default .iframe-wrapper{
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
	margin: 5px auto;
  height: 0;
  overflow: hidden;
}

.video-template-default iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_grid .video_timestamp {
	clear: both;
}

.video_grid .video_box a {
	display: block;
	float: left;
	width: 30%;
	margin-right: 3%;
}

.video_grid .video_box p {
	height: 45px;
	overflow-wrap: break-word;
	overflow: hidden;
	line-height: 1.5em;
}

.video_grid .video_box .image_wrapper {
	position: relative;
	height: 222px;
	background-color: #000;
	margin-bottom: 15px;
}

.video_grid .video_box .image_wrapper::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 40px;
	border-color: transparent transparent transparent #fff;
	opacity: .75;
	z-index: 999;
}

.video_grid .video_box .image_wrapper img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.single-video .post-header {
	margin-bottom: 0px;
}

/*
	Blog list
*/
.blog_list .news_box footer {
	 background-color: #ffe5f1;
}


/*
	Infographic
*/
.infographic .btn {
	display: none;
	max-width: 200px;
	margin: 0 auto;
	padding: 15px 25px;
	background-color: #61ba46;
	color: #fff;
	border-radius: 8px;
	text-align: center;
	font-size: 1.35em;
}


/*
  Helpers
*/
.nobr {
	white-space: nowrap;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-border {
	border: none;
}

.green-underline-title h2,
.widget-area h2 {
	padding: 25px 0 10px;
	color: #78AD20;
	font-weight: bold;
	border-bottom: solid 2px #78AD20;
	text-transform: uppercase;
}

.fr {
	display: none;
}

.icon_box .image_wrapper {
	margin-bottom: 10px;
}

.pricing-box .image img, .icon_box img {
	margin: 0 auto;
}

.icon_box img[src$=".svg"], .pricing-box img[src$=".svg"] {
	height: 100%;
	max-height: 110px;
	display: block;
}

.show-mobile {
	display: none;
}

.hide-mobile {
	display: block;
}

/*
	Responsive
*/
@media only screen and (max-width: 1239px) {
	.home-tab .location-form-container::before {
		font-size: 1em;
	}

	.home-tab #bh-sl-submit,
	.home-tab .bh-sl-container button.bh-sl-geolocation {
		font-size: 0.7em !important;
	}

	.home-tab #bh-sl-submit {
		width: 60%;
	}

	.home-tab .bh-sl-container button.bh-sl-geolocation {
		width: 30.5%;
	}

	.with_aside .wpsl-search {
		flex-flow: column wrap;
	}
}

@media only screen and (max-width: 1024px) {
	.location-page .location-form-container::before {
		float: none;
		padding: 20px 0;
		width: auto;
		text-align: center;
	}

	.location-page form#bh-sl-user-location {
		padding-top: 0;
	}

	.location-page .location-form-container {
		background-size: auto;
	}

	.legend-box {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.legend-info {
		float: none;
		width: 100%;
		padding-top: 10px;
	}

	.legend-pins-3 .legend-info,
	.legend-pins-2 .legend-info,
	.legend-pins-4 .legend-info {
		width: 100%;
	}

	/*
		Mobile Menu
	*/
	.header-stack #Top_bar .menu_wrapper {
		position: absolute;
		right: 0;
		top: 50%;
		width: auto;
	}

	#Header_wrapper #Header::after {
		display: none;
	}

	#Top_bar a.responsive-menu-toggle i {
		color: #fff;
	}

	.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group:last-child {
		text-align: right;
	}
}

@media only screen and (max-width: 959px) {
	.home .column_button {
		margin: 0 !important;
	}

	.section_wrapper .column {
		margin-bottom: 0;
	}

	#Header_wrapper #Header {
		min-height: 100px;
	}

	#Top_bar::before {
		max-height: none;
	}

	.tribe-mini-calendar-event .list-date {
		width: 50% !important;
	}

	#Top_bar #logo img {
		width: 65%;
	}

	.header-stack #Top_bar .menu_wrapper {
		top: 15px;
	}

	.header-stack #Top_bar .logo #logo {
		height: auto;
	}

	.header-stack #Top_bar .logo::after {
		font-size: 1.5em;
		right: 40px;
		bottom: 3em;
	}

	.header-stack #Top_bar .secondary_menu_wrapper {
		right: 0px;
	}

	.tr-menu.header-stack #Top_bar {
		background-color: transparent !important;
	}

	.header-stack .menu_wrapper a.responsive-menu-toggle {
		margin: 11px 0!important;
	}

	.full-screen-green-bar {
		background-color: #78AD20 !important;
	}

	.button_border_top {
		border-top: solid 2px #fff;
	}

	.home_buttons .column {
		margin: 0;
		width: calc( 50% - 1px) !important;
		clear: none;
	}

	.home_buttons .column:first-child {
		border-right: solid 2px #fff;
	}

	.home_buttons .button {
		border-radius: 0;
		font-size: 1.5em;
		border: none;
		box-shadow: none;
		background-image: none;
	}

	.home_buttons a.button .button_label {
		padding: 15px;
		line-height: 1.2em;
	}

	.video_grid .video_box a {
		float: none;
		width: 100%;
		margin-bottom: 25px;
	}

	.video_grid .video_box p {
		font-size: 1.2em;
		min-height: none;
	}

	.video_grid .video_box .image_wrapper {
		height: auto;
		background-color: transparent;
		margin-bottom: 5px;
	}

	.video_grid .video_box .image_wrapper img {
		position: relative;
		top: 0;
		transform: none;
		width: 100%;
	}


	.show-mobile {
		display: block;
	}

	.hide-mobile {
		display: none;
	}
}

@media only screen and (min-width: 769px)  {

	.home-tab .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group {
		width: 33%;
	}

	.bh-sl-container .bh-sl-form-input .bh-sl-form-input-group:first-child {
		width: 65%;
		float: right;
	}

	.location-page #bh-sl-submit {
		width: 60%;
		margin: 0;
		display: block;
		right: 158px;
		float: right;
	}

	.tribe-events-event-meta .tribe-events-meta-group {
		width: 50%;
	}

	.location-page .bh-sl-container button.bh-sl-geolocation {
		width: 60%;
		display: block;
		right: 158px;
		float: right;
	}
}

@media only screen and (max-width: 768px) {

	.header-stack #Top_bar .logo::after {
		font-size: 2.7em;
		right: 60px;
		bottom: 42px;
	}

	#Top_bar #logo img {
		width: 50%;
	}

	.header-stack #Top_bar .menu_wrapper {
		position: absolute !important;
	}

	.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group {
		float: none;
		padding-bottom: 10px;
		margin: 0 auto;
		width: 75% !important;
	}

	.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group:first-child {
		padding-top: 35px;
		text-align: center;
	}

	.location-page .bh-sl-container .bh-sl-form-input .bh-sl-form-input-group:last-child {
		position: absolute;
		top: 0;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
	}

	.location-page .bh-sl-filters-container {
		margin: 0;
	}

	.location-page .bh-sl-container .bh-sl-form-input input {
		width: calc(100% - 45px);
	}

	.location-page form#bh-sl-user-location {
		padding-bottom: 15px;
	}

	.location-page #bh-sl-submit {
		left: auto;
		display: block;
		float: none;
		margin: 0 auto 30px;
		width: 95%;
	}

	.location-page .bh-sl-container button.bh-sl-geolocation {
		display: block;
		left: auto;
		float: none;
		margin: 0 auto;
		width: 95%;
	}

	.location-page .bh-sl-container button.bh-sl-geolocation::before {
		left: 50%;
		bottom: 40px;
    	transform: translateX(-50%);
	}

	.bh-sl-container .loc-name {
		width: 200px;
	}

	.tribe-event-schedule-details {
		float: none;
	}

	.embed .news_box {
		width: 100%;
		margin-right: 0;
	}

	.news_box h3 {
		height: auto;
		font-size: 1.3em;
	}

	.calculator-wrap {
		padding-left: 3%;
		padding-right: 3%;
	}

	.calculator-wrap button::before,
	.calculator-wrap button::after {
		width: 20%;
	}

	.calculator-wrap .tonnage .result-wrap {
		width: calc( 60% - 30px );
		right: 30px;
	}

	.calculator-wrap .impact .result-wrap {
		position: relative;
		right: 0;
		top: 0;
		overflow: hidden;
	}

	.calculator-wrap .impact {
		height: auto;
	}

	.calculator-wrap .tonnage .result {
		width: auto;
	}

	.calculator-wrap .impact .result {
		float: right;
		width: 60%;
	}

	.calculator-wrap h3 {
		font-size: 2em;
	}

	.landing_box .img_container,
	.landing_box .info_container {
		width: 100%;
		float: none;
	}

	.landing_box .info_container {
		padding-left: 0;
		padding-top: 15px;
		width: 100%;
	}

	.landing_box .info_container footer {
		position: relative;
		width: calc( 100% - 30px );
	}

	.tribe-events-meta-group-venue {
		margin: 20px 0 !important;
		min-height: auto;
	}

	.tribe-events-event-meta .tribe-events-meta-group:not(:first-child) dl {
		padding-top: 0;
	}

	.tribe-events-loop .tribe-events-event-meta,
	.tribe-events-list .tribe-events-venue-details {
		border: none !important;
		background: none !important;
	}

	.tribe-events-list .tribe-events-loop .tribe-events-content,
	.tribe-events-loop .tribe-events-event-meta,
	.tribe-events-list .tribe-events-venue-details {
		width: 100% !important;
	}

	#Footer .widget_search input[type="text"] {
		width: 100%;
	}

	#Footer .widgets_wrapper .menu {
		grid-template-columns: 1fr;
	}

	.infographic .btn {
		display: block;
	}

	.infographic-iframe {
		display: none;
	}

	.legend-pins-4 .legend-info {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	#Top_bar .column {
		margin-bottom: 0 !important;
	}

	.header-stack #Top_bar .secondary_menu_wrapper {
		display: block;
		top: 4px;
		right: 10px;
	}

	.header-stack #Top_bar .menu_wrapper {
		top: 0;
	}
}

@media only screen and (max-width: 675px) {
	#wpsl-search-wrap #wpsl-radius {
		flex-flow: column wrap;
		width: 100%;
	}

	#wpsl-search-wrap .wpsl-input {
		flex-flow: column wrap;
	}

	#wpsl-search-wrap .wpsl-dropdown, #wpsl-search-wrap #wpsl-search-input {
		width: 100% !important;
	}

	#wpsl-gmap {
		width: 100%;
		margin: 0;
	}

	#wpsl-wrap, #wpsl-result-list {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 570px) {
	.wpsl-search {
		background-position: 50%;
	}
}

@media only screen and (max-width: 481px) {
	.tribe-events-list .tribe-events-loop .event_detail_right {
		padding-top: 10px;
	}

	.tribe-events-list .tribe-events-loop .event_detail_left,
	.tribe-events-list .tribe-events-loop .event_detail_right,
	.tribe-events-list .tribe-events-loop .event_detail_right div,
	.tribe-events-list .tribe-events-loop .event_detail_right {
		width: 100% !important;
	}

	.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-event-date-card,
	.tribe-events-read-more {
		width: calc(100% - 20px) !important;
	}

}

@-moz-document url-prefix() {
	#bh-sl-maxdistance {
		padding:6px 0;
		max-height: 34px;
	}
}
