{{#location}}
<li data-markerid="{{markerid}}">
	<div class="list-label">{{marker}}</div>
	<div class="list-details">
		<div class="list-content" itemscope itemtype="http://schema.org/RecyclingCenter">
			<div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" hidden>
				<img src="https://www.recyclemyelectronics.ca/wp-content/uploads/2017/07/logo.png" itemprop="url">
			</div>
			<div itemprop="priceRange" hidden>Free</div>
			<div itemprop="description" hidden>Electronics recycling facility for cellphones, computers and anything else electronic.</div>
			<div class="loc-name" itemprop="name">{{{name}}}</div>
			<div class="loc-cat">{{bh_sl_loc_cat}}</div>
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<div class="loc-addr" itemprop="streetAddress">{{{address}}}</div>
				<div class="loc-addr2" itemprop="streetAddress">{{{address2}}}</div>
				<div class="loc-addr3"><span itemprop="addressLocality">{{{city}}}</span>{{#if city}},{{/if}} <span itemprop="addressRegion">{{state}}</span> <span itemprop="postalCode">{{postal}}</span></div>
			</div>
			<div class="loc-phone" itemprop="telephone">{{phone}}</div>
			<div class="loc-hours">
				<div>{{hours1}}</div>
				<div>{{hours2}}</div>
				<div>{{hours3}}</div>
			</div>
			{{#if excerpt}}<div class="loc-excerpt">{{excerpt}}</div>{{/if}}
			<div class="loc-web"><a href="{{web}}" target="_blank">{{niceURL web}}</a></div>
			{{#if distance}}<div class="loc-dist">{{distance}} {{length}}</div>
			<div class="loc-directions"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank"></a></div>{{/if}}
		</div>
	</div>
</li>
{{/location}}
