/*
  infographic CSS

  Fonts:

  font-family: 'Montserrat', sans-serif;
  font-family: 'Arvo', serif;

  Color:

  green: #61ba46

*/
body {
  margin: 0;
  background-color: #61ba46;
  cursor: pointer;
}

.infographic-wrapper {
  white-space: nowrap;
  font-size: 0;
}

.infographic-wrapper>div {
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  /* background-color: #61ba46; */
  font-size: 14px;
  font-family: 'Arvo', serif;

  /* TODO: temp */
  /* border-right: solid 1px #61ba46; */
}

.infographic-wrapper>div.front-page {
  width: 600px;
  position: relative;
  color: #fff;
}

.front-page .bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.front-page .logo {
  display: block;
  max-width: 60%;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
}

.tagline {
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  background-color: rgba(12, 105, 57, 0.51);
  padding: 20px 0;
  color: #fff;
}

.tagline p {
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.5em;
}

.steps {
  position: relative;
  min-width: 400px;
}

.steps .path {
  z-index: 1;
  position: absolute;
}

.steps .img-bubble {
  display: block;
  position: absolute;
  max-width: 275px;
  z-index: 99;
}

.steps .info-bubble {
  font-size: 4.5px;
  position: absolute;
  z-index: 99;
}

.steps .info-bubble:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.steps .info-bubble .content {
  position: absolute;
  width: 90%;
  height: 100%;
  padding: 5%;
  font-family: 'Arvo', serif;
  font-size: 1em;
  color: #fff;
  white-space: pre-wrap;
  text-align: center;
  line-height: 2em;
}

.step-wrapper {
  height: 700px;
}

img.img-bubble {
  opacity: 0;
}

.navigation a {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  width: 30px;
  height: 100vh;
  z-index: 1000;
  text-decoration: none;
  line-height: 100vh;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

.navigation .back-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 45px;
  width: auto;
  height: 26px;
  text-align: center;
  border: solid 2px #fff;
  color: #fff;
  background-color: transparent;
  z-index: 9999;
}

#go-left {
  left: 0;
}

#go-right {
  right: 0;
}

.texture {
  position: absolute;
  opacity: 0.3;
  height: 100vh;
}

.texture img {
  height: 100%;
  display: block;
}

/* step 1 */
#step1 .img-bubble {
  top: 30px;
  left: 50px;
}

#step1 #path1 {
  top: 280px;
  left: 150px;
}

#step1 #path1-2 {
  width: 350px;
  top: 140px;
  left: 260px;
  z-index: 1;
}

#step1 .info-bubble {
  left: 80px;
  top: 400px;
}

#step1 .info-bubble .content {
  padding-top: 10%;
}

/* step 2 */
#step2 #step2-img {
  top: 350px;
  left: 100px;
}

#step2 #path2-1 {
  top: 270px;
  left: 150px;
}

#step2 #info2 {
  top: 10px;
  left: 25px;
}

#step2 #path2-3 {
  top: 200px;
  left: 250px;
}

/* step 3 */
#step3-img {
  top: 20px;
}
#step3 #path3-1 {
  top: 285px;
  left: 90px;
}

#step3 #info3 {
  top: 340px;
  left: 0;
}

#step3 #path3-2 {
  top: 140px;
  left: 272px;
}

#step3 #info3-2 {
  left: 310px;
}

/* step 4 */
#step4 #step4-img {
  top: 400px;
  left: 120px;
}

#step4 #info4 {
  top: 102px;
  left: 180px;
}

#step4 #path4 {
  top: 280px;
  left: -55px;
}

#step4 #path4-1 {
  top: 354px;
  left: 300px;
}

/* step 5 */
#step5 #path4-2 {
  top: 570px;
  left: -65px;
}

#step5 #info5 {
  top: 350px;
  left: 55px;
}

#step5 #path5-1 {
  top: 230px;
  left: 100px;
}

#step5 #step5-img {
  top: 30px;
  left: 80px;
}
/* step 6 */
#path6 {
  top: 150px;
  left: -70px;
}

#step6 #step6-img {
  top: 395px;
  left: 75px;
}

#step6 #path6-1 {
  top: 355px;
  left: 200px;
}

#step6 #info6 {
  top: 100px;
  left: 65px;
}

#path7 {
  top: 570px;
  left: 300px;
}

/* step 7 */
#step7 #step7-img {
  top: 330px;
  left: 43px;
}

#info7 {
  top: 15px;
  left: 50px;
}

#path8 {
  top: 230px;
  left: 200px;
}

/* step 8 */
#step8-img {
  top: 85px;
  left: 20px;
}

#info8 {
  top: 385px;
  left: 35px;
}

#path8-1 {
  top: 330px;
  left: 185px;
}

/* step 9 */
#step9 {
  width: 1100px;
}

#path9 {
  top: 215px;
  left: 262px;
}

#path9-1 {
  top: 220px;
  left: 320px;
}

#path9-2 {
  top: 210px;
  left: 275px;
}

#path9-3 {
  top: 140px;
  left: 380px;
}

#path9-4 {
  top: 380px;
  left: 382px;
}

#path9-5 {
  top: 422px;
  left: 325px;
}

#step9-img {
  top: 75px;
  left: 40px;
}

#step9-img1 {
  top: 422px;
  left: 70px;
}

#step9-img2 {
  top: 422px;
  left: 235px;
}

#step9-img3 {
  top: 422px;
  left: 400px;
}

#step9-img4 {
  top: 422px;
  left: 565px;
}

#step9-img5 {
  top: 422px;
  left: 730px;
}

#step9 .img-bubble {
  font-size: 0.7em;
}

#info9 {
  top: -3%;
  left: 340px;
}

/* material */
.material-wrapper {
  width: 150px;
  position: absolute;
  top: 460px;
  z-index: 999;
  opacity: 0;
}

.material-wrapper img {
  width: 100%;
}

.material-desc {
  color: #fff;
  text-align: center;
}

.material-desc p {
  margin: 2px;
}

/* step 10 */
#step10 {
  background-image: url('../images/infographic/info-bg.jpg');
  background-position-x: -150px;
  min-width: auto;
  width: 100vw;
  max-width: 600px;
  background-size: cover;
}

#step10 .tagline {
  position: absolute;
  width: 100%;
  top: 400px;
  left: 100%;
  margin-top: 0;
}

#step10 .tagline p {
  max-width: 55%;
}

#step10 .tagline img {
  display: block;
  width: 250px;
  margin-top: 10px;
}

#step10-img {
  top: 90px;
  left: 100px;
  /* transform: translateX(-50%); */
}

@media screen and (max-width: 767px) {
  .infographic-wrapper>div.front-page{
    width: 100vw;
  }
  .infographic-wrapper>div {
    font-size: 12px;
    width: 100vw;
  }
  .front-page {
    height: 100vh;
  }
  .front-page .logo {
    /* max-width: 80%; */
  }

  .tagline p {
    font-size: 1.4em;
  }

  .front-page {
    min-width: 0 !important;
    width: auto;
  }

  #step10 {
    width: 100vw;
  }

  #step10 .tagline p {
    max-width: 60%;
  }
}
